services:
  # lavalink:
  #   image: ghcr.io/lavalink-devs/lavalink:4
  #   container_name: lavalink
  #   restart: unless-stopped
  #   environment:
  #     - _JAVA_OPTIONS=-Xmx4G
  #     - SERVER_PORT=2333
  #     - LAVALINK_SERVER_PASSWORD=$LAVALINK_PASS
  #   volumes:
  #     - ./docker/configs/application.yml:/opt/Lavalink/application.yml
  #     - ./docker/plugins/:/opt/Lavalink/plugins/
  #   networks:
  #     - bot
  #   expose:
  #     - 2333
  #   ports:
  #     - "2333:2333"
  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./docker/configs/loki.yml:/etc/loki/loki-config.yaml
      - ./docker/volumes/loki/data:/loki    

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=$GF_SECURITY_ADMIN_USER
      - GF_SECURITY_ADMIN_PASSWORD=$GF_SECURITY_ADMIN_PASSWORD
    depends_on:
      - loki
    volumes:
      - ./docker/volumes/grafana:/var/lib/grafana
  
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./docker/configs/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./docker/volumes/prometheus:/prometheus


  frieren:
    build: 
      context: ./bot
      dockerfile: Dockerfile
    networks:
      - bot
    env_file:
      - .env
    restart: always

  settings-service:
    container_name: $SETTINGS_ADDRESS
    build: 
      context: ./settings-service
    networks:
      - bot
    env_file:
      - .env
    depends_on:
      - settings-db
    restart: always
  
  api-gateway:
    container_name: api-gateway
    build: 
      context: ./api-gateway
    networks:
      - bot
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      - redis
  settings-db:
    image: postgres:15
    restart: on-failure:5
    container_name: $SETTINGS_POSTGRES_HOST
    environment:
      POSTGRES_USER: $SETTINGS_POSTGRES_USER
      POSTGRES_PASSWORD: $SETTINGS_POSTGRES_PASSWORD
      POSTGRES_DB: $SETTINGS_POSTGRES_DB
      POSTGRES_SSLMODE: $SETTINGS_POSTGRES_SSLMODE
      POSTGRES_TIMEZONE: $SETTINGS_POSTGRES_TIMEZONE
    ports:
      - "5432:5432"
    volumes:
      - ./docker/volumes/pgdata:/var/lib/postgresql/data
    networks:
      - bot

  redis:
    image: redis:latest
    container_name: $REDIS_HOST
    restart: always
    networks:
      - bot
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=$REDIS_PASS
    command: [ "redis-server", "--requirepass", "$REDIS_PASS" ]
    volumes:
      - ./docker/volumes/redis_data:/data 

volumes:
  data: 
    driver: local

networks:
  bot:
    name: bot  